# ==========================
# Environment
# ==========================
.env

# ==========================
# n8n
# ==========================
n8n/*
!n8n/.gitkeep

# ==========================
# Logs
# ==========================
*.log
*.journal

# ==========================
# Operating System
# ==========================
.DS_Store
Thumbs.db

# ==========================
# VS Code
# ==========================
.vscode/
